<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p><input type="text" placeholder="关键字" v-model="keyword" /></p>
      <ul>
        <li v-for="(item,index) in arr2" :key="item">
          {{index+1}}----{{item}}
        </li>
      </ul>
    </div>
    <script>
      Vue.config.productionTip = false;
      new Vue({
        el: "#app",
        data: {
          keyword: "",
          arr: ["yiyangqianxi", "ouyangnana", "gulinazha", "dilireba"],
        },
        computed: {
          arr2() {
            return this.arr.filter((item) => item.includes(this.keyword));
          },
        },
      });
    </script>
  </body>
</html>
